@font-face {
  font-family: 'Graphik';
  src: url("../assets/fonts/Graphik-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Graphik';
  src: url("../assets/fonts/Graphik-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Graphik';
  src: url("../assets/fonts/Graphik-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Graphik';
  src: url("../assets/fonts/Graphik-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("https://sf.abarba.me/SFMono-Regular.otf"); }
body {
  background-color: black;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

::-webkit-scrollbar {
  display: none; }

#progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  border-top: 1px solid #C6C6C6;
  border-right: 1px solid #C6C6C6;
  height: 2px;
  z-index: 5; }

h1 {
  font-weight: 600;
  font-size: 126px;
  color: white;
  line-height: 0.9;
  margin: 0;
  text-align: center;
  letter-spacing: -2px; }

h2 {
  font-weight: 600;
  font-size: 96px;
  line-height: 96px;
  text-align: center;
  letter-spacing: -1px;
  max-width: 1200px;
  margin-bottom: 40px;
  margin-top: 0; }

p {
  font-weight: 500;
  letter-spacing: -0.3;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
  max-width: 800px; }

.mono {
  font-family: "SF Mono", monospace;
  color: #5F5F5F;
  font-size: 14px; }

.tiny-heading {
  font-weight: 400;
  color: #A4A4A4;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 40px;
  display: block; }

ul {
  list-style: none;
  text-align: center; }

li {
  padding: 0;
  font-weight: 600;
  font-size: 96px;
  margin-bottom: 10px; }

video {
  border: 1px solid white; }

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; }

section.longer {
  min-height: 140vh; }

section.white {
  background-color: white; }
  section.white p {
    color: black; }

section.green {
  background-color: #00E9A2; }

.r-b {
  position: absolute;
  bottom: 50px; }

.r-t {
  position: absolute;
  top: 50px; }

.p-t {
  padding-top: 100px; }

.quote {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center; }
  .quote p {
    font-size: 36px;
    line-height: 55px;
    max-width: 1000px; }

.rule p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 34px; }

.image {
  padding-bottom: 100px; }

.caption {
  font-family: "SF Mono", monospace;
  font-size: 14px;
  color: #B5B5B5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

#interface {
  max-width: 1200px;
  border: 1px solid #333333;
  margin-top: 100px; }

#subway,
#iphone {
  max-width: 1200px; }

.fadein {
  opacity: 0;
  transition: all 3s;
  transform: translate(0, 200px); }

.fadein.visible {
  opacity: 1;
  transform: translate(0, 0); }

/*# sourceMappingURL=app.css.map */
